<div class="container">
    <h1>Daftar Course</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Durasi</th>
                <th>SKS</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of this.api.courseList; index as i">
                <td>{{ course.Nama }}</td>
                <td>{{ course.Durasi }}</td>
                <td>{{ course.SKS }}</td>
                <td>{{ course.Detail }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Formulir Buat Course Baru</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">ID:</label>
            <div class="col-sm-10">
                <input type="text" name="id" [(ngModel)]="id" class="form-control" placeholder="Masukkan ID kelas">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Nama:</label>
            <div class="col-sm-10">
                <input type="text" name="nama" [(ngModel)]="nama" class="form-control" placeholder="Masukkan Nama">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Durasi:</label>
            <div class="col-sm-10">
                <input type="text" name="durasi" class="form-control" placeholder="Durasi Kelas" [(ngModel)]="durasi">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">SKS:</label>
            <div class="col-sm-10">
                <input type="text" name="sks" class="form-control" placeholder="Jumlah SKS" [(ngModel)]="sks">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Detail:</label>
            <div class="col-sm-10">
                <input type="text" name="detail" class="form-control" placeholder="Keterangan Kelas" [(ngModel)]="detail">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" (click)="CourseBaru()">Buat Course</button>
            </div>
        </div>
    </form>
</div>